@model Caristaniyaan.Dto.categoryViewModal
@{
    /**/

    ViewBag.Title = "Cateogry";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Category
            <small>Add or view all your categories</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Admin")"><i class="fa fa-dashboard"></i>Home</a></li>
            <li><a href="@Url.Action("Category","Admin")">Category</a></li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- right column -->
            <div class="col-md-12">
                <!-- Horizontal Form -->
                <div class="box box-info" id="formBox">
                    <div class="box-header with-border">
                        <h3 class="box-title">Horizontal Form</h3>
                    </div>
                    <div class="alert alert-success collapse fade">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <div class="alert-text">Successfully completed your action.</div>
                    </div>
                    <div class="alert alert-danger collapse fade">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <div class="alert-text">Successfully completed your action.</div>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    @using (Html.BeginForm("Add", "Category", FormMethod.Post, new { enctype = "multipart/form-data", id = "catForm", @class = "form-horizontal" }))
                    {
                        <div class="box-body">
                            <div class="form-group">
                                @Html.LabelFor(c => c.name, new { @class = "col-sm-2 control-label" })
                                <div class="col-md-6">
                                    @Html.TextBoxFor(c => c.name, new { @class = "form-control", id = "catName", placeholder = "Enter category" })
                                    @Html.ValidationMessageFor(c => c.name)
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <input type="button" class="btn btn-default" id="catNameAdd" value="Add">
                            <input type="button" class="btn btn-info pull-right disabled" id="catNameUpdate" value="Update">
                            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                        </div>
                        <!-- /.box-footer -->
                    }


                </div>

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Hover Data Table</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table  id="Categories" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Category Name</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                            <tfoot>
                                <tr>
                                    <th>Category Name</th>
                                    <th>Edit</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/scripts/category.js")
}


